$bkColor: #fff;
	$bkBlancoA50: rgba(255,255,255,.5);

$azul: #005c84;
	$azul90:#196c90;
	$azul80:#337d9d;
	$azul70:#4c8da9;
	$azul60:#669db5;
	$azul50:#7fadc1;
	$azul40:#99bece;
	$azul30:#b2ceda;
	$azul20:#ccdee6;
	$azul10:#e5eef2;
	$azul05:#f2f7f9;

	$azulA50:rgba(0,92,132,.5);
	$azulA60:rgba(0,92,132,.6);
	$azulA70:rgba(0,92,132,.7);
	$azulA80:rgba(0,92,132,.8);
	$azulA90:rgba(0,92,132,.9);

$cian: #00c6d7;
	$cian90:#19ccdb;
	$cian80:#33d1df;
	$cian70:#4cd7e3;
	$cian60:#66dde7;
	$cian50:#7fe2eb;
	$cian40:#99e8ef;
	$cian30:#b2eef3;
	$cian20:#ccf4f7;
	$cian10:#e5f9fb;
	$cian05:#f2fcfd;

$verde: #7ab800;
	$verde90:#87bf19;
	$verde80:#95c633;
	$verde70:#a2cd4c;
	$verde60:#afd466;
	$verde50:#bcdb7f;
	$verde40:#cae399;
	$verde30:#d7eab2;
	$verde20:#e4f1cc;
	$verde10:#f1f8e5;
	$verde05:#f8fbf2;

$negro: #000;
	$negro70: #4c4c4c;
	$negro40: #999999;
	$negro20: #cccccc;
	$negroA50: rgba(0,0,0,.5);
	$negroA25: rgba(0,0,0,.25);