main{
	&#home {
		background-image: url(../images/home1.jpg);
		.content {
			background-image: url(../images/home2.png);
		}
	}

	&#fusion {
		background-image: url(../images/fusion1.jpg);
		.content {
			background-image: url(../images/fusion2.png);
		}
	}

	&#soloMovil {
		background-image: url(../images/soloMovil1.jpg);
		.content {
			background-image: url(../images/soloMovil2.png);
		}
	}
}

